/* nav */
@import url('https://fonts.cdnfonts.com/css/gotham');
                
nav{
    background-color: black;
}
sup{
    font-size:7px;
}
.navbar-brand{
    margin-left: 40px;
}

.navbar-nav{
    margin-left: 500px;
    height: 50px;
}
.nav-item{
    left: 20px;
    margin-left: 50px;
}
#link{
    font-weight: bold;
}
#link a:hover{
    color:#00bb2d;
}
#dropdown a{
    border-left: 3px solid #00bb2d;
    margin-left: 1px;
    font-weight: bold;
    color: #00bb2d;
    
}
.dropdown-menu{
    background-color:white;
    border-radius: 3px;
}
#items a{
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    
}
#green a{
    color:rgb(75, 72, 72);
}

/* header */
.banner{
    background-color:#1d75de; 
}

.start>.btn-dark, .plans>.btn-outline-light{
    text-transform: uppercase;
    font-weight: bold;
    width:150px;
}

.start>.btn-dark{
    background-color: black;
}

.start>.btn-dark:hover{
    background-color: black;
    font-size: 17px;
}

.plans>.btn-outline-light{
    border: solid 2px white;
}

.plans>.btn-outline-light:hover{
    border: solid 2px white;
    font-size: 17px;
    color: white;
    opacity: 0.9;
    background-color: #2366b9;
}

.title1{
    font-weight: bolder;
}

/* main - benefits */

/* main - choose your plan */

main{
    width: 100%;
    align-items: center;
    background-color: #EFEFEF;
}

.card{
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    align-items: flex-start;
    margin: 50px 10px 26px; 
}

.list-group-item{
    border: none !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.list-card{
    height: 26rem;
}

ul{
    align-items: flex-start;
}

li{
    list-style-type: none;
}

a{
    /*ver uppercase*/
    cursor: pointer;
    padding-block: 14px;
}

.text-footer{
    margin-top: 12px;
    color: rgb(83, 83, 83);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

/* footer */
footer {
    background-color: black;
    color: white;
    padding-top: 100px;
    height:600px;
}

.col-4 {
    display: flex;
    justify-content: flex-end;
}

.col-4 a {
    width: 40px;
    height: 40px;
    margin: 4px;
}

i {
    padding: 10px;
    background-color: grey;
    border-radius:50%;
    color:#fff;
}
i:hover {
    color:#1ed760;
}

.nav-link disabled {
    color:grey;
}

.nav-link:hover {
    color:#1ed760 !important;
}

nav {
    --bs-nav-link-color: #fff var(--bs-link-color) !important;
    --bs-nav-link-disabled-color: grey var(--bs-secondary-color)!important;
    --bs-nav-link-hover-color: #1ed760 var(--bs-link-hover-color)!important;
}

nav {
   
    --bs-nav-link-disabled-color: grey var(--bs-secondary-color)!important;
}

nav {--bs-nav-link-hover-color: #1ed760 var(--bs-link-hover-color)!important;
}

.copy {
    display: flex;
    justify-content: end;
}